source http://www.nuget.org/api/v2
redirects: on
framework: netstandard2.0, net461

nuget FSharp.Core redirects: force
nuget System.Numerics.Vectors framework net46

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

  nuget FSharp.Plotly

group Test
    framework: netcoreapp2.0, net461
    source https://nuget.org/api/v2

    nuget xunit
    nuget Microsoft.NET.Test.Sdk
    nuget xunit.runner.visualstudio